.container {
    width: 950px;
    height: 850px;
    background-color: lightgray;
    padding: 20px;
}
.title {
    color: rgb(52, 50, 49);
    background-color: lightgray;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sequence1 {
    background-color: lightcoral;
    margin-bottom: 20px;
    justify-content: space-between;  
}
.sequence2 {
    background-color: lightslategray;
    margin-bottom: 20px;
    justify-content: space-evenly;
}
.sequence3 {
    background-color: lightsalmon;
    justify-content: space-between;  
}
.pics {
    height: 200px;
    padding: 15px;
    display: flex;
}
h4 {
    text-align: center;
}